.menu {
    flex: 0 0 40%;
    max-width: 40%;
    border-right: 2px solid rgba(18, 140, 126, 0.2);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.menu-user {
    height: 80px;
    align-items: center;
    padding: 10px;
    display: flex;
    font-size: 24px;
    color: #ffffff;
    gap: 20px;
    border-bottom: 1px solid rgba(18, 140, 126, 0.2);
    cursor: pointer;
}

.user-icon {
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 5px;
}

.menu-user:hover {
    color: #25D366;
}

.add-user {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.menu-input {
    flex: 1 1 80%;
    padding: 10px;
    background: #444444;
    color: #ffffff;
    font-size: 20px;
}

.menu-button {
    padding: 10px;
    background: #128C7E;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}